{% extends "dashboard.html" %}

{% block titleSegmento2 %} Market {% endblock %}

{% block titleSegmento3 %} Carrito {% endblock %}

{% block contenidoSegmento2 %}
    <br>
        <h2 class="titulos">Market de Productos</h2>
    <br>
    <div class="MarketDinamico">
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
        <div class="tarjeta">
            <br>
            <img src="https://images.unsplash.com/photo-1614267862674-c91b17cfae12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="producto en venta" width="150px" height="150px">
            <h4>Nombre Producto</h4>
            <p>Precio: Q50</p>
            <button class="botonActivo" >Detalles</button>
        </div>
    </div>
{% endblock %}

{% block contenidoSegmento3 %}
    <br>
    <h2 class="titulos">Detalle de compra</h2>
    <br>
    <div id="contenedorCompra">
        <div id="panelCompra">
            <ul>
                <li class="infoJustificada">Elemento 1</li>
                <li class="infoJustificada">Elemento 2</li>
                <li class="infoJustificada">Elemento 3</li>
                <li class="infoJustificada">Elemento 4</li>
            </ul>
        </div>
        <br>
        <p class="infoJustificada">Total de la compra:</p>
        <br>
        <button class="botonActivo" >Comprar</button>
    </div>
    <h2 class="titulos">Compras anteriores</h2>
    <br>
    <div class="contenedorTabla">
        <table id = "" class="tabla" >
            <thead>
                <tr>
                    <th>Fecha</th><th>Hora</th><th>Total</th>
                </tr>
            </thead>
            <tbody id="cuerpoTabla" >
                <!-- <tr  v-for="elemento in controladoresDeHistoriales.listaRutinas"> -->
                <tr>
                    <!-- <td>{{elemento.fecha}}</td> -->
                    <td>dato xd</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
{% endblock %}