<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!-- cargamos la carpeta static para reconocer css, js y otros -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- #region Referencias a Librerias, Frameworks y otros archivos -->
    <!-- google font: Nixie One -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <!-- Llamada a bundle -->
    <!-- <script type="text/javascript" src="src/main-vue.js" defer></script>  -->
    <!-- #endregion Referencias a Librerias, Frameworks y otros archivos -->
     <title>Gestor de Ventas</title>
     <link rel="stylesheet" href="{% static 'css/estiloFormularios.css' %}">
</head>
<body>
    <section class="main">
        <div class="formulario" >
            <form action="/loguearUsuario/" method="POST">{% csrf_token %}
                <p>Usuario: <input name ="usuarioLog" type="text" placeholder="Usuario" maxlength="50" required></p>
                <br>
                <p>Contraseña: <input  name ="passLog" type="password" placeholder="Contraseña" maxlength="50" required></p>
                <br>
                <div class="contenedorBotones">
                    <button type="submit"> Iniciar Sesión </button>
                </div>
            </form>
            <br>
            <form action="/dirigirRegistroUsuario/" method="POST">{% csrf_token %}
                <button type="submit"> Registrarme </button>
            </form>
        </div>
    </section>
</body> 
</html>
