{% extends "dashboard.html" %}

{% block titleSegmento2 %} Vendedores {% endblock %}

{% block titleSegmento3 %} Inventarios {% endblock %}

{% block contenidoSegmento2 %}
    <br>
        <h2 class="titulos">Reportes por Vendedor</h2>
    <br>
    <p class="infoJustificada">Seleccione un vendedor para ver sus ventas actuales:
    </p>
    <br>
{% endblock %}

{% block contenidoSegmento3 %}
    <br>
    <h2 class="titulos">Reporte de Inventario</h2>
    <br>
    <p class="infoJustificada">En esta sección podrá visualizar los distintos reportes de inventario actuales:
    </p>
    <br>
{% endblock %}