{% extends "dashboard.html" %}

{% block titleSegmento2 %} Productos {% endblock %}

{% block titleSegmento3 %} Inventario {% endblock %}

{% block contenidoSegmento2 %}
    <br>
        <h2 class="titulos">Productos</h2>
    <br>
    <p class="infoJustificada">Puede agregar un nuevo producto para agregar en inventario y promocionar su venta:
    </p>
    <br>
{% endblock %}

{% block contenidoSegmento3 %}
    <br>
        <h2 class="titulos">Inventario</h2>
    <br>
    <p class="infoJustificada">Elementos de inventario hasta la fecha :
    </p>
    <br>
{% endblock %}